# Dependencies
node_modules/

# Build output
dist/

# Env files
.env
.env.*
!.env.example

# Prisma
prisma/*.db
prisma/*.db-journal

# Logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
tests/
docs/refactor
